name: "STAGING ENV: Snowflake Terraform Demo Workflow"

on: 
  push:
    branches: 
      - staging

jobs:
  deploy-terraform-staging:
    name: "Plan & Deploy Terraform plan on Staging"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      
      - name: Terraform Init
        id: init
        run: terraform -chdir=./staging init

      - name: Terraform Format
        id: fmt
        run: terraform -chdir=./staging fmt -recursive -check

      - name: Terraform Validate
        id: validate
        run: terraform -chdir=./staging validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform -chdir=./staging plan 
        env:
          TF_VAR_snowflake_private_key: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}

      - name: Terraform Destroy
        id: destroy
        run: terraform -chdir=./staging destroy -auto-approve
        env:
          TF_VAR_snowflake_private_key: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
